.Header {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;

  background-color: #87cefa;
  padding: 10px 30px;
}

.pageSelect {
  display: block;
  margin-bottom: 10px;
}

.headerText {
  color: #333;
}


